.table {
  display: grid;
  grid-template-columns: 50px minmax(150px, 1fr) 100px 100px 80px 60px;
  border: 1px solid gray;
  overflow-x: auto;
  .checkboxContainer {
    padding-inline-start: 2rem;
    input{
      width: 25px;
      height: 25px;
    }
  }
  .deleteButtonContainer {
    padding-inline-end: 2rem;
  }
  &>div {
    display: flex;
    justify-content: center;
    align-items: center;
    .image {
      width: 100px;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
}

.question {
  text-align: center;
  .itemTitle {
    font-weight: bold;
  }
}

.message {
  text-align: center;
  font-weight: bold;
}