.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  background-color: #5555;
  .image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
  }
}