@import "styles/variables";

.headerWrapper{
  z-index: 10;
}
.header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-inline: 1rem;
  align-items: center;
  justify-items: center;
  padding-block: 0.5rem;

  @media screen and (min-width: $tablet-width) {
    grid-template-columns: 5rem 1fr 1rem 3rem 3rem;
  }
  @media screen and (min-width: $desktop-width) {
    grid-template-columns: 4rem 1fr 0 3rem 3rem;
  }
}

.headerItem {
  display: flex;
  justify-content: center;
  align-items: center;
}


$button-size: 2rem;
.smallHeaderButton {
  position: relative;
  width: $button-size;
  height: $button-size;
  padding: 0.2rem;
  cursor: pointer;
}


.cartIconContainer {
  // @media screen and (min-width: $tablet-width) {
    grid-column: 4;
  // }
}

.themeIconContainer {
  grid-column: 5;
}

.menuButtonContainer {
  position: relative;
  grid-column: 6;
  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}