@import "styles/variables";

.formContainer{
  display: flex;
  justify-content: center;
  .form {
    display: grid;
    grid-gap: 0.5rem;
    width: 100%;
    max-width: 600px;
    .buttonsContainer{
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-block-start: 0.5rem;
    }
  }
}

@media screen and (min-width: $tablet-width) {
  .formContainer{
    .form {
      max-width: 100%;
      grid-template-columns: 1fr [image-line] 1fr;
      .imageInputContainer{
        grid-column-start: image-line;
        grid-row-start: 1;
        grid-row-end: 5;
        display: flex;
        align-items: center;
        .imageInput{
          width: 100%;
          label{
            margin-left: 2rem;
          }
        }
      }
      .buttonsContainer{
        grid-column-start: 1;
        grid-column-end: 3;
        button{
          padding-inline: 3rem;
        }
      }
    }
  }
}

.noTagsMessage{
  display: block;
  color: #fa5252;
  text-decoration: none;
  line-height: 1.2;
  word-break: word-break;
  font-size: 12px;
}