@import "styles/variables";

.menuWrapper {
  position: absolute;
  right: 0;
  top: 2.6rem;
  z-index: 11;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  cursor: auto;
  width: max-content;
  border-radius: 0.5rem;
}
.menu {
  padding-block: 0.2rem;
  padding-inline: 0;
  li {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-block: 0.1rem;
    margin-inline: 0.5rem;
    cursor: pointer;
  }
}

.closeMenuLayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: transparent;
}

.onTablet {
  display: none;
}

@media screen and (min-width: $tablet-width) {
  .menuButtonContainer {
    display: none;
  }
  .onTablet {
    display: block;
    grid-column: 1/6;
    grid-row: 2;
    width: 100%;
    margin-block-start: 0.3rem;
    ul {
      display: flex;
      flex-direction: row;
      margin: 0;
      li {
        padding: 0;
        margin: 0;
      }
    }
  }
}