.table {
  display: grid;
  grid-template-columns: 50px minmax(150px, 1fr) 100px 100px 80px 60px;
  border: 1px solid gray;
  overflow-x: auto;

  &>div {
    display: flex;
    justify-content: center;
    align-items: center;
    .image {
      width: 100px;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
}

.modal {
  position: fixed;
  z-index: 20;
  height: 20%;
  top: 25%;
  width: 50%;
  left: 25%;
  padding: 2rem;
  >div {
    gap:0;
    p {
      text-align: center;
      .itemTitle {
        font-weight: bold;
      }
    }
  }
}

.message {
  text-align: center;
  font-weight: bold;
}