@import "styles/variables";

.headerWrapper{
  z-index: 10;
}
.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-inline: 1rem;
  align-items: center;
  justify-items: center;
  padding-block: 0.5rem;
  border-bottom: 1px solid #888;

  @media screen and (min-width: $tablet-width) {
    grid-template-columns: 3rem 1fr 3rem 3rem;
  }
}

.headerItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

$logo-size: 2.5rem;

.logoContainer {
  width: $logo-size;
  height: $logo-size;
  padding: 0.2rem;
}

$button-size: 2rem;
.smallHeaderButton {
  width: $button-size;
  height: $button-size;
  padding: 0.2rem;
  cursor: pointer;
}


