.allTagsScroll{
  overflow-x: auto;
  padding: 1rem;
  transform-style: preserve-3d;
  // border: 2px solid red;
  .allTagsContainer {
    // z-index: -1;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    padding: 0.2rem;
    min-width: 100%;
    transform: translateZ(-10px);
        background: linear-gradient(45deg, #ff4ea0, #0043ff);
    .tag {
      display: flex;
      flex-wrap: nowrap;
      width: fit-content;
      padding-inline: 0.5rem;
      padding-block: 0.1rem;
      border-radius: 15px;
    }
  }
}
    .parent {
        background: linear-gradient(45deg, #ff4ea0, #0043ff);
        width: 200px;
        height: 200px;
        border-radius: 10px;
        font-weight: 700;
        padding: 1rem;
        box-shadow: 0 2px 30px rgb(0 0 0 / 50%);
        margin-bottom: 4rem;
        transform-style: preserve-3d;
        border: 1px solid red;
        overflow: hidden;
    }
    .child {
        background: linear-gradient(45deg, #4effef, #0014ff);
        width: 200px;
        font-weight: 700;
        height: 200px;
        border-radius: 10px;
        position: relative;
        top: 30px;
        left: 30px;
        padding: 1rem;
        box-shadow: 0 2px 30px rgb(0 0 0 / 50%), 0 0 0 1px rgba(0,0,0,0.05);
        transform: translateZ(-10px)
    }
