.headerWrapper{
  z-index: 10;
}
.header {
  border-bottom: 2px solid blue;
  background-color: #aaf;
  display: grid;
  grid-template-columns: 3rem 1fr 3rem 3rem;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  // position: relative;
  // @media screen (max) {
    
  // }
}

.headerItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

$logo-size: 2.5rem;

.logoContainer {
  width: $logo-size;
  height: $logo-size;
  padding: 0.2rem;
}

$button-size: 2rem;
.cartContainer {
  width: $button-size;
  height: $button-size;
  padding: 0.2rem;
}
.menuButtonContainer {
  width: $button-size;
  height: $button-size;
  padding: 0.2rem;
  cursor: pointer;
  position: relative;
}

