
.menuWrapper {
  // width: 80vw;
  position: absolute;
  // left: 0;
  right: 0;
  top: 100%;
  z-index: 11;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  cursor: auto;
}

.menu {
  width: max-content;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  li {
    list-style: none;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    cursor: pointer;
    &:hover {
      background-color: #aaf;
    }
  }
}

.menuContainerOpen {
  // bottom: -100%;
  // bottom: initial;
  // top: 100%;
  // height: fit-content;
}