/* Example Styles for React Tags*/
.app {
  padding: 40px;
  text-align: center;
}

/* Example Styles for React Tags*/

.container {
  margin: auto;
  width: 50%;
}
.ReactTags__tags {
  position: relative;
  z-index: 2;
}

.ReactTags__clearAll {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background: #f88d8d;
  color: #fff;
  // border: none;
}

/* Styles for the input */
.ReactTags__tagInput {
  // border-radius: 20px;
  display: inline-block;
}
.ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  border: 1px solid #ced4da; 
  border-radius: 4px;
  height: 31px;
  margin: 0;
  font-size: 12px;
  min-width: 150px;
  padding: 10px 12px;
  margin-block: 0.2rem ;
}
input.ReactTags__tagInputField:focus-visible {
  // border: 1px solid #228BE6;
  outline: none;
}

.ReactTags__editInput {
  // border-radius: 1px;
}

.ReactTags__editTagInput {
  display: inline-flex;
}

/* Styles for selected tags */
.ReactTags__selected span.ReactTags__tag {
  // border: 1px solid #ddd;
  background: #228BE6;
  color: white;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  padding-inline-start: 12px;
  margin: 0 5px;
  border-radius: 4px;
  margin-block: 0.2rem;
}
.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
.ReactTags__suggestions {
  position: absolute;
  ul {
    padding: 0;
  }
}
.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 2px 2px 5px 3px #E9ECEF;
  background: white;
  width: 200px;
}
.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

.ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  color: white;
}

.darkMode{
  .ReactTags__tagInput input.ReactTags__tagInputField,
  .ReactTags__tagInput input.ReactTags__tagInputField:focus {
    border: 1px solid #373A40;
    color: #C1C2C5;
    background-color: #25262b;
  }
  .ReactTags__suggestions ul {
    background: #25262b;
    color: #C1C2C5;
    box-shadow: 2px 2px 5px 3px #495057;
    li {
      border-bottom: 1px solid #555;
      &.ReactTags__activeSuggestion {
        background: #555;
      }
      mark{
        color: white;
      }
    }
  }
}